{% extends "game/layout.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block title %}
    Buildings
{% endblock %}

{% block body %}
<div class="container-sm">
    {% if message %}
    <div class="row">
        <div class="col">
            <div class="flex-container warning">
                <div>
                    <h5>{{ message }}</h5>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="flex-container horse">
                <img src="{% static 'game/SM.jpg' %}" alt="My image" width="75" height="50">
                <h4>Steel Mill</h4>
                <div>
                    Current Level: {{ builds.SteelMill }}<br>
                    Next Level: {{ builds.SteelMill|add:1 }}
                </div> 
                <h5>Resource Needed for next level</h5><br>
                Steel: {{ steel.Steel|intcomma }} Hydrogen: {{ steel.Hydrogen|intcomma }} Anti Matter: {{ steel.AntiMatter|intcomma }}
                <br>
                <div>
                    <form method="post" name="steel">
                        {% csrf_token %} 
                        <input type="submit" name="steel" value="Upgrade">
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex-container horse">
                <img src="{% static 'game/hy.jpg' %}" alt="My image" width="75" height="50">
                <h4>H Collector</h4>
                <div>
                    Current Level: {{ builds.HCollector }}<br>
                    Next Level: {{ builds.HCollector|add:"1" }}
                </div>
                <h5>Resource Needed for next level</h5><br>
                Steel: {{ hydro.Steel|intcomma }} Hydrogen: {{ hydro.Hydrogen|intcomma }} Anti Matter: {{ hydro.AntiMatter|intcomma }}
                <br>
                <div>
                    <form method="post" name="hydrogen">
                        {% csrf_token %} 
                        <input type="submit" name="hydrogen" value="Upgrade">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="flex-container horse">
                <img src="{% static 'game/pc.jpg' %}" alt="My image" width="75" height="50">
                <h4>Particle Collider</h4>
                <div>
                    Current Level: {{ builds.ParticleCollider }}<br>
                    Next Level: {{ builds.ParticleCollider|add:"1" }}
                </div>
                <h5>Resource Needed for next level</h5><br>
                Steel: {{ particle.Steel|intcomma }} Hydrogen: {{ particle.Hydrogen|intcomma }} Anti Matter: {{ particle.AntiMatter|intcomma }}
                <br>
                <div>
                    <form method="post" name="particle">
                        {% csrf_token %} 
                        <input type="submit" name="particle" value="Upgrade">
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="flex-container horse">
                <img src="{% static 'game/BS.jpg' %}" alt="My image" width="75" height="50">
                <h4>Shipyard</h4>
                <div>
                    Current Level: {{ builds.ShipFactory }}<br>
                    Next Level: {{ builds.ShipFactory|add:"1" }}
                </div>
                <h5>Resource Needed for next level</h5><br>
                Steel: {{ ship.Steel|intcomma }} Hydrogen: {{ ship.Hydrogen|intcomma }} Anti Matter: {{ ship.AntiMatter|intcomma }}
                <br>
                <div>
                    <form method="post" name="ship">
                        {% csrf_token %} 
                        <input type="submit" name="ship" value="Upgrade">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
