{% extends "game/layout.html" %}
{% load humanize %}

{% block title %}
    IGW
{% endblock %}

{% block body %}
    <br>
    <h3>Welcome {{ user.username.capitalize }} to IGW</h3><br><br>
    <h5>Please start building your Empire</h5><br>
    <div class="container-sm">
        <div class="row">
            <div class="col">
                <h4>Resources:</h4>
                <div class="flex-container horse">
                    <div>Metal: {{ comms.Metal|intcomma }}</div>
                    <div>Hydrogen: {{ comms.Hydrogen|intcomma }}</div>
                    <div>AntiMatter: {{ comms.AntiMatter|intcomma }}</div>
                    <div>
                        <form method="post" action="" name="resource">
                            {% csrf_token %}
                            <input type="submit" value="Get Resources">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Buildings:</h4>
                <div class="flex-container horse">
                    <div>Steel Mill: {{ builds.SteelMill }}</div>
                    <div>H Collector: {{ builds.HCollector }}</div>
                    <div>Particle Collider: {{ builds.ParticleCollider }}</div>
                    <div>Shipyard: {{ builds.ShipFactory }}</div>
                    <div>
                        <form method="get" action="buildings">
                            <input type="submit" value="Go To Buildings">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>Fleet:</h4>
                <div class="flex-container horse">
                    <div>Fighter: {{ ships.Fighter }}</div>
                    <div>Heavy Fighter: {{ ships.HeavyFighter }}</div>
                    <div>Destroyer: {{ ships.Destroyer }}</div>
                    <div>Corvette: {{ ships.Corvette }}</div>
                    <div>Cruiser: {{ ships.Cruiser }}</div>
                    <div>Battleship: {{ ships.Battleship }}</div>
                    <div>
                        <form method="get" action="fleets">
                            <input type="submit" value="Go To Fleets">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="flex-container horse">
                    <div>this is a test for testing purposes</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
