h3, h5, h4 {
    text-align: center;
}

.navbar {
    background-color: rgb(38, 38, 80)
}

body {
    background-color: rgb(202, 202, 243)
}

.horse {
  display: flex;
  flex-direction: column;
  background-color: greenyellow;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px 50px 30px  
}

.warning {
  display: flex;
  flex-direction: column;
  background-color: red;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px 50px 30px  
}

.leader {
  display: flex;
  flex-direction: column;
  background-color: rgb(225, 225, 255);
  flex-wrap: nowrap;
  padding: 10px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px 50px 30px  
}

.flex-container > div {
  /* background-color: #f1f1f1; */
  width: 180px;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

